/*Limpar formatações padrão*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1em;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background: #FFFCF5;
}

/***** Layout *****/
#header-area {
  background-color: #3c7e99;
  text-align: center;
  margin-bottom: 40px;
  width: 100%;
}

#logo-area {
  justify-content: center;
  padding-top: 7.5px;
  padding-bottom: 15px;
  margin-top: 0;
}

#menu-area {
  padding-bottom: 7.5px;
  font-size: 1.1em;
}

.classe {
  text-decoration: none;
}



#main-area {
  width: 100%;
  margin: 0 auto;
}

.content:hover {
  background: #FCF2FB;
}

.img2:hover {
  background: #FCF2FB;
}

.pergunta:hover {
  background: #FCF2FB;
}


.card:hover {
  background: #FCF2FB;
}


.container {
  display: grid;
  grid-template-columns: .1fr .1fr .1fr .1fr;
  gap: 1rem;
  justify-content: center;
  padding: 1rem;
  color: #3c7e99;
}

.card {
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  background-color: #FFF7E8;
  /*background-image: url('imagens/paris.jpeg');
      background-repeat: no-repeat; /* Para não repetir a imagem */
  /*background-size: cover; /* Para a imagem cobrir toda a div 
  background-image: ;*/

  width: 10rem;
  height: 10rem;
  align-items: center;
  box-shadow: 4px 4px 8px 1px rgba(0, 0, 0, 0.3);

}

textarea2 {
  width: 300px;
  height: 64px;
  font-size: 15px;
  padding: 8px;
}

h4 {
  color: #404042;
  font-size: 0.7em;
  font-weight: bold;
  text-align: justify;
  color: #404042;
  padding-right: 5px;
  margin: 0;

}

div {
  display: flex;
  margin: 1px;
  margin-left: 2px;
}

.par {
  font-size: 1em;
  font-weight: bold;
  text-align: justify;
  color: #404042;
  padding-right: 5px;
  margin: 0;
}

.par2 {
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  color: #fff9e9;
  padding-right: 5px;
  margin: 0;
}

.par7 {
  font-size: 1.2em;
  font-weight: bold;
  text-align: justify;
  color: #404042;
  padding-right: 5px;
  margin: 0;
}

.par8 {
  font-size: 1.2em;
  text-align: justify;
  color: #404042;
  padding-right: 5px;
  margin: 0;
}

.par9 {
  font-size: 1.2em;
  text-align: justify;
  color: #fff;
  padding: 15px;
  margin: 0;
  font-weight: bold;
}

.par33 {
  padding-left: 10px;
  text-align: start;
  color: #414040;
}

.par34 {
  text-indent: 0.5rem;
  text-align: left;
}

.linha-separadora {
  border-bottom: 2px solid #eeeef0;
  width: 350px;
  height: 0;
}

.capa {
  background-color: #fff;
}

/* Outra maneira de transformar texto em áudio */

.palavra {
  cursor: pointer;
  padding: 2px 4px;
  border-radius: 4px;
  transition: background 0.2s;
}

.palavra:hover {
  background: #ffe6b3;
}

.elemento-clicavel {
  cursor: pointer;
  /*cursor: url('imagens/eiffel.svg'), auto;*/
  /* Mude o cursor para a mãozinha */
  align-items: center;

}

img {
  /*border: 4px solid #CCC;*/
  /*margin-bottom: 4px;*/
  margin-left: 1px;
  /*border-radius: 10px;*/
  border-radius: 50px;
}

.botao {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}

.content {
  text-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 700px
}

.content33 {
  text-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 700px
}

.content-new {
  text-align: center;
  margin: 0;
  padding: 0;
  width: 700px;
}

.content-blocks25 {
  width: 350px;
  display: flex;
  gap: 0em;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 0.7em;
  padding-left: 2px;
}

.novo {
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.content2 {
  text-align: center;
  margin: 0;
  padding: 0;
  width: 700px;
}


.secao {
  justify-content: left;
  align-items: center;
}

.content-novas {
  font-weight: bold;
}

.content-classes {
  width: 400px;
  /*display: flex;
  justify-content: flex-end;
  gap: 0em;
  justify-content: center;
  text-align: center;
  margin: auto;
  margin-bottom: 0.9em;
  padding-left: 2px;
  align-items: center;*/
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 1rem;


}

.content-blocks {
  width: 60%;
  display: flex;
  gap: 0em;
  justify-content: center;
  text-align: center;
  margin: auto;
  margin-bottom: 0.9em;
  padding-left: 2px;
  align-items: center;


}


.content-blocks2 {
  width: 500px;
  display: flex;
  gap: 0em;
  justify-content: center;
  text-align: center;
  align-items: center;
  align-content: center;
  margin: auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 0.7em;
  padding-left: 2px;
}

.content-blocks25 {
  width: 350px;
  display: flex;
  gap: 0em;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 0.7em;
  padding-left: 2px;
}

.content-blocks26 {
  width: 350px;
  display: flex;
  gap: 0em;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 0.7em;
  background-color: #0b4c80;
  border-radius: 25px;
}

.content-blocks3 {
  width: 60%;
  display: flex;
  gap: 0em;
  justify-content: center;
  text-align: center;
  margin: auto;
  margin-top: 0.5em;
  margin-bottom: 2em;
  padding-left: 2px;
}

.titulo {
  font-size: 1.7em;
  color: #03467c;
}

footer {
  background: #3c7e99;
  color: #fff9e9;
  text-align: center;
  padding: 1rem;
  margin-top: 10rem;
  font-weight: bold;
  font-size: 1.2rem;
  width: 100%;
}



/*   modelo de caixa de entrada de texto */

/* Modelo 1 - Simples e Limpo */
.modelo1 {
  width: 80%;
  height: 15px;
  padding: 2px 15px;
  border: 2px solid #93b3bf;
  border-radius: 8px;
  font-size: 10px;
  transition: 0.3s;
  background-color: #f5f5f5;
  color: #276b85;
  font-weight: bold;
}

.modelo2 {
  width: 40px;
  height: 24px;
  padding: 2px;
  margin-left: 20px;
  border: 2px solid #93b3bf;
  border-radius: 50px;
  font-size: 16px;
  font-weight: bold;
  transition: 0.3s;
  background-color: #f5f5f5;
  color: #276b85;
  text-align: center;
}

.modelo3 {
  width: 45px;
  height: 24px;
  padding: 2px;
  margin: 0px 8px;
  border: 2px solid #93b3bf;
  border-radius: 50px;
  font-size: 10px;
  font-weight: bold;
  transition: 0.3s;
  background-color: #f5f5f5;
  color: #276b85;
  text-align: center;
}

.modelo4 {
  width: 50%;
  height: 15px;
  padding: 2px 15px;
  border: 2px solid #93b3bf;
  border-radius: 8px;
  font-size: 10px;
  font-weight: bold;
  transition: 0.3s;
  background-color: #f5f5f5;
  color: #276b85;
}

.modelo5 {
  width: 27%;
  height: 15px;
  padding: 2px 15px;
  border: 2px solid #93b3bf;
  border-radius: 8px;
  font-size: 10px;
  font-weight: bold;
  transition: 0.3s;
  background-color: #f5f5f5;
  color: #276b85;
}

.modelo1:focus {
  border-color: #eccf67;
  outline: none;
}

.verb {
  text-align: left;
  background-color: #FFFF99;
  padding: 10px;
  box-shadow: 4px 4px 8px 1px rgba(0, 0, 0, 0.3);
  margin: 15px 0px;
  margin-bottom: 25px;
}

.verbo {
  text-align: left;


}

.inicio {
  margin-bottom: 25px;
  box-shadow: 4px 4px 8px 1px rgba(0, 0, 0, 0.1);
}

/***** Formatação do menu *****/

a:link,
a:visited {
  color: #3c7e99;
}

#header-area a:link,
#header-area a:visited {
  color: #fff9e9;
  padding: 8px 12px;
  font-weight: bold;
  text-decoration: none;
}

#header-area a:hover {
  color: #f7b600;
  background: #FFF;
  text-decoration: none;
}

/***** Formatações em geral *****/
h1 {
  color: #fff9e9;
  /**/
  font-size: 2.5em;
  text-align: center;
}

h2 {
  color: #3c7e99;
  font-size: 2em;
  text-align: center;
  padding-bottom: 40px;
  margin-top: 40px;

}

.title {
  color: #fff;
  font-size: 0.8em;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: "Vast Shadow", serif;
  font-weight: 550;
  font-style: bold;
  text-decoration: none;
}

/********* Quiz ********/
.pergunta {
  margin: 15px 0px;
  padding-left: 10px;
  align-items: center;

}


.feedback {
  font-weight: bold;
  margin-left: 2px;
  font-size: 25px;
}

.certo {
  color: green;
}

.errado {
  color: red;
}

.btn {
  display: inline-block;
  padding: 1px 0px 1px 1px;
  width: 30px;
  height: 30px;
  font-weight: bold;
  border: none;
  border-radius: 50px;

  color: white;
  cursor: pointer;
}

/*************************/

/*******  TABELA ********/

table {
  width: 100%;
  border-collapse: collapse;
  margin: 15px 0px 25px 0px;
}

th,
td {
  border: 1px solid #ccc;
  padding: 10px 6px;
  text-align: center;
  width: 350px;
}

th {
  background-color: #f4f4f4;
  font-weight: bold;
}

thead {
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}

tr {
  justify-content: center;
  align-content: center;
  align-content: center;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #e0f7fa;
}



/*modificadores, melhor jeito de reutilizar código. Se os elementos são iguais e você só quer alterar detalhes
use modificadores*/

.cyan-06 {
  background-color: #79b5c4;
  padding: 0.6em 0.6em 0.3em 0.6em;
}

.cyan-silaba {
  background-color: #79b5c4;
  padding: 0.6em 0.6em 0.3em 0.6em;
  margin-bottom: 0px;
}

.orange {
  background: #fba759;
}

.blue {
  background: #4f9ec9;
}

.green {
  background: #769d45;
}

.pink {
  background: #ce83a4;
}

.cyan {
  background: #79b5c4;
}

/*small monitor desktop and up*/
/*@media only screen and (min-width: 64em) {

  .content-blocks {
    width: 80%;
  }

  .content-blocks2 {
    width: 80%;
  }

  .content-blocks3 {
    width: 80%;
  }

  .content-blocks25 {
    width: 80%;
  }

  .content-blocks26 {
    width: 80%;
  }

}*/


/*tablets*/
/*@media only screen and (min-width: 510px) and (max-width: 950px) {


  /*  .content-blocks {
    width: 80%;
  }

  .content-blocks2 {
    width: 80%;
  }

  .content-blocks3 {
    width: 80%;
  }

  .content-blocks25 {
    width: 80%;
  }

  .content-blocks26 {
    width: 80%;
  }

}

/*cell phones*/

/*@media only screen and (max-width: 39em) {*/

/*
.content-blocks {
  width: 80%;
}

.content-blocks2 {
  width: 80%;
}

.content-blocks3 {
  width: 80%;
}

.content-blocks25 {
  width: 80%;
}

.content-blocks26 {
  width: 80%;
}
}*/

@media (max-width: 600px) {
  /*  .container {
    grid-template-columns: 1fr;
    /* só uma coluna no celular */
  /*  }
}*/

  /*  .content-blocks {
    width: 80%;
  }

  .content-blocks2 {
    width: 80%;
  }

  .content-blocks3 {
    width: 80%;
  }

  .content-blocks25 {
    width: 80%;
  }

  .content-blocks26 {
    width: 80%;


  }*/

  #main-area {
    width: 100%;
  }

  .content-blocks2 {
    width: 80%;
  }

  .par33 {
    font-size: 90%;

  }


  .par34 {
    font-size: 90%;
  }

  .content-blocks {
    width: 90%;
  }

  #header-area {
    width: 100%;
  }

  h2 {
    font-size: 120%;
    margin-right: 20px;
  }


  h1 {
    font-size: 180%;
  }

  footer p {
    font-size: 90%;
  }

  #menu-area a {
    font-size: 90%;
  }

  .container {
    grid-template-columns: 0.2fr 0.2fr;
    /* só uma coluna no celular */
  }

  .card {
    font-size: 180%;
  }





  .modelo3 {


    width: 35%;
    height: 35%;

  }

  .btn {
    font-size: 70%;

  }

  .inicio {
    width: 75%;
    height: 70%;
    margin-left: 32px;

  }



  /*   Tabela Responsiva */



  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
    font-size: 95%;
  }

  thead {
    display: none;
    /* esconde cabeçalho */

  }

  tr {
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;

  }

  td {
    text-align: left;
    border: none;
    position: relative;
    padding-left: 50%;

  }


  td::before {
    content: attr(data-label);
    position: absolute;
    left: 10px;
    font-weight: bold;
    white-space: nowrap;
  }
}
